#rain_box{
    
    top:82%;
    left: 18%;
}
@media only screen and (max-width: 1075px)  {
    #rain_box{
    
        top:94%;
        left: 25%;
    }  
}

@media only screen and (max-width: 1024px)  {
    #rain_box{
    
        top:82%;
        left: 28%;
    }  
}


@media only screen and (max-width: 768px)  {
    #rain_box{
    
        top:83%;
        left: 36%;
    }  
}
@media only screen and (max-width: 600px)  {
    #rain_box{
    
        top:83%;
        left: 45%;
    }  
}